# requirements.txt
#pip install --upgrade -r OpenAIYouTubeTranscriber/requirements.txt

requests
py_mini_racer
langdetect
pytubefix
python-dotenv
moviepy
tenacity
git+https://github.com/openai/whisper.git